@import-normalize;

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Montserrat';
  background-color: #b8b6b6;
  color: #fdfdfd;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.AppItem {
  margin: 0 auto;
  padding: 20px;
}
